body { 
  margin: 0;

}

.grid-container {
  background-image: url(IMAGES/menu.png);
  background-size: cover;
}

/* MENU DESPEGABLE */


li, ol{
    list-style-type: none; 
    position: relative;
}

#img_menu{
  margin-top: 20px;
}

.menuDiv{
  height: 0px;
  /* transition: height 1s; */
}

.menuDiv.desplegado{
  float: right;
  background-color: #635858  ;
  position: absolute;
  width: 100vw;
  height: 100px;
  transition: height 1s;
}


.more{
  display:inline-block;
  position:absolute;
  right:0px;
  font-size:30px;
}

  .nav > li a {
  color: #fff;
  text-decoration: none;
  padding-top: 20px;
  padding-left: 120px;
  float: left;
  display: inline-block;
  font-family: 'Montserrat', Arial,;
}

/*Hover*/
.nav li a:hover {
  background-color: #434343;
}


.nav:hover {
  background-color: #434343;
}

/* .nav li {
  display: none;
  position: absolute;
  min-width: 140px;
} */


/* HEADER */
.header {
  background-color: #151413;
  padding: 20px 10px;
  height: 100px;
  width: 924;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  
}
